{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-md-4">
            <h2>Hello, {{ user.username }}!</h2>
            {% for post in posts %}
            <div><p>{{ post.author.name }} has released new album: <b>{{ post.album }}</b></p></div>
            {% endfor %}
            <h3>New in SoundCloud:</h3>
            {% for info in sc_list %}
            <h4>{{ info.title }}</h4>
            <h5>Playlist name: {{ info.playlist }}</h5>
            <img src="info.pic">
            <hr />

            {% endfor %}
        </div>
        <div>
            <div class="=col-md-4 col-md-push-4">
                <h2>Sign In</h2>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=16) }}
                        {% for error in form.username.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(sixe=16) }}
                        {% for error in form.password.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit() }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
