{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Let's find what are you looking for!</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{form.select()}}
            </p>
            <p>
                {{ form.search.label }}<br>
                {{ form.search(size=32) }}
                {% for error in form.search.errors %}
                <span style="color:red">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
</div>
{% endblock %}