{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
            {% if messages %}            
            <hr>
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
<div class="container">
    <h1>Let's find what are you looking for!</h1>
        <form action="{{ url_for('search.search_result') }}" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.search.label }}<br>
                {{ form.search(size=100) }}
                {% for error in form.search.errors %}
                <span style="color:red">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>       
        </form>
{% endblock %}